@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import "./variables/variables.scss";

@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/helpers/_all.sass";
@import "~bulma/sass/form/_all.sass";

/* 
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/form/_all.sass"; */

// @import "~bulma";

html,
body {
  min-height: 100vh;
  overflow: initial;
}

body {
  background-color: var(--bg);
  color: var(--color);
}

input[type='search'] {
  padding: 6px;
  border: 2px solid var(--border-color);
  border-radius: 2px;
  background: var(--bg-primary);
  color: var(--color);
}

hr {
  background: var(--border-color);
}

p {
  margin-bottom: 16px;
  font-family: $family-secondary-sans-serif;
}

//
// Navbar
//
nav.navbar {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: var(--bg);

  .navbar-burger {
    color: var(--color);
  }
}

.navbar-menu.is-active {
  background: var(--bg);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.hero.column-left {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;

  .container {
    flex-grow: initial;
  }

  h1 {
    font-weight: 700;
    color: var(--color);
  }

  a {
    color: var(--color);
    transition: 0.5s all ease-in-out;

    &:hover {
      color: var(--link-color);
    }
  }

  @include tablet {
    padding: 0.75rem 2rem;
  }
}

.hero.is-fullheight.column.column-right {
  background-color: var(--bg-fix);

  p {
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
  }

  a {
    &:hover {
      background-color: transparent;
    }
  }

  .subtitle {
    font-size: 1.15rem;
  }

  .container {
    max-width: 650px;
    margin: 0 auto;
  }

  @include mobile {
    min-height: 95vh;
  }

  @include tablet {
    padding: 0.75rem 2rem;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
      flex-grow: initial;
    }
  }
}

.hero.is-primary .navbar-item {
  color: white;
}

.columns {
  margin: 0;
}

.icon.icon-link {
  display: none;
}

.profile-pic.is-rounded.has-shadow {
  margin: 0 auto;
  width: 128px;
}

.hero.is-primary a.navbar-item:hover {
  background-color: #02779e;
  color: #f9f9f9e5;
}

.date {
  color: $grey-light;
}

.footer {
  background-color: #02779e;
  padding: 2rem 1.5rem 1rem;

  @include mobile {
    padding: 7rem 4.5rem 6rem;
  }
}

@include mobile {
  .title-container .background-cover {
    background-image: none !important;
  }
}

.card,
.box {
  border: 2px solid var(--border-color);
  background-color: var(--bg-primary);
  color: var(--color);
}

.card {
  border-radius: 6px;
}

.page-title {
  color: var(--color);
}

//
// Blog Page
//
section.section.blog-page {
  max-width: 960px;
  margin: 0 auto;
}

.blog-list {
  margin-bottom: 2rem;
}

.column.blog-list.is-full {
  flex: auto;

  @include tablet {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card.column.blog-list.is-half {
  width: calc(50% - 2rem);

  @include tablet {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.blog-excerpt {
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  @include mobile {
    padding: 1rem 0.5rem;
  }
}

.blog-excerpt-bottom {
  align-self: flex-end;
  margin-top: 16px;
}


@include mobile {

  .card.column.blog-list.is-full,
  .card.column.blog-list.is-half {
    width: 100%;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

//
// Post page
//
section.section.content {
  @include mobile {
    padding: 0;
  }
}