@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import './variables/variables.scss';

@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/grid/columns.sass';

html {
  background: transparent;
}

html,
body {
  min-height: 100vh;
  overflow: initial;
}

body {
  background-color: var(--bg);
  color: var(--color);
}

a {
  transition: 0.5s;
  font-weight: bold;
}

canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0;
}

#top-angle {
  position: relative;
  z-index: 9;
  height: 43px;
  background: var(--link-color);
  transform: skewY(1deg) translateY(-19px);
}

.title {
  letter-spacing: -0.022rem;
}
.subtitle {
  font-weight: 600;
  letter-spacing: -0.022rem;
}

.button {
  width: 100%;
  box-sizing: border-box !important;
  background-color: initial !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: inset 0 0 0 1px var(--color) !important;
  color: var(--color);
  cursor: pointer !important;
  display: inline-block;
  font-size: 0.8em !important;
  font-weight: 600 !important;
  height: 3.5em !important;
  letter-spacing: 0.25em !important;
  line-height: 3.5em !important;

  /* padding: 0 1.75em !important; */
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  margin-bottom: 2rem !important;
}

.button:hover {
  box-shadow: inset 0 0 0 1px var(--link-color) !important;
  color: var(--link-color) !important;
}

.btn-site {
  display: block;
  width: 50%;
  margin: 0 auto;
} 

.columns.page {
  margin-top: 24px;
}

.column {
  padding: 0;
}

.container {
  @include mobile {
    padding: 18px;
  }
}

.frontend,
.backend,
.article {
  padding-top: 18px;
  a {
    font-weight: normal;
  }
  span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 10px;
    &.tag {
      height: 24px;
      padding: 2px;
      margin-left: 5px;
      background: var(--link-color);
      color: #fff;
      font-weight: bold;
    }
  }
}

.date {
  margin: 0;
  font-weight: bold;
  color: $grey-light;
}

article.post-list {
  margin-bottom: 58px;
  border-left: 8px solid var(--link-color);
  padding-left: 12px;
  h2.title {
    margin-bottom: 0.5rem;
  }
}

.border-bottom {
  width: 25%;
  height: 5px;
  margin-bottom: 2.5rem;
  background: var(--link-color);
}

hr {
  background: var(--border-color);
}

p {
  margin-bottom: 1.5rem;
}

.columns {
  margin: 0;
}

.page-title {
  color: var(--color);
}

//
// Post page
//
section.section.content {
  @include mobile {
    padding: 0;
  }
}
