ul {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
  @include desktop {
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
.feather {
  position: relative;
  top: 0;
  cursor: pointer;
  padding: 6px;
  margin: 0;
  transition: all 0.1s ease;
  box-sizing: content-box;
  color: var(--color);
  &:hover {
    top: -3px;
    color: var(--link-color);
  }
}
.feather.preferred {
  color: var(--link-color);
}
.feather.selected {
  color: var(--link-color);
}