//
// Styles for blog Page
//

input[type='search'] {
  width: 100%;
  padding: 6px;
  border: 2px solid var(--border-color);
  border-radius: 2px;
  background: var(--bg-primary);
  color: var(--color);
}