//
// Styles for blog Page
//

h2.title {
  .subtitle {
    display: inline-block;
  }
}
section.section.blog-page {
  max-width: 960px;
  margin: 0 auto;
}

.blog-list {
  margin-bottom: 2rem;
}

.column.blog-list.is-full {
  flex: auto;

  @include tablet {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card.column.blog-list.is-half {
  width: calc(50% - 2rem);

  @include tablet {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.blog-excerpt {
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  .date {
    font-size: 0.85rem;
  }
  @include mobile {
    padding: 1rem 0.5rem;
  }
}

.blog-excerpt-bottom {
  align-self: flex-end;
  margin-top: 16px;
}

@include mobile {
  .card.column.blog-list.is-full,
  .card.column.blog-list.is-half {
    width: 100%;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
section.section {
  h1.title {
    margin-bottom: 3rem;
  }
  h2.title {
    margin-bottom: 0.5714em;
  }
}
.content {
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}
.blog-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.blog-list-image {
  img {
    border-radius: 2px;
  }
}

input[type='search'] {
  width: 100%;
  padding: 6px;
  border: 2px solid var(--border-color);
  border-radius: 2px;
  background: var(--bg-primary);
  color: var(--color);
}