//
// Styles for about me page
//
div.about-intro {
  @include mobile {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  picture {
    @include mobile {
      order: 1;
      margin-bottom: 38px;
    }
    img {
      width: 190px;
      border-radius: 50%;
    }
  }
  div.is-8 {
    @include mobile {
      order: 2;
    }
  }
  div.is-4 {
    background: url('https://res.cloudinary.com/rserrano/image/upload/v1611353909/blog/Sin_nombre_brvzig.jpg');
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 50%;
    &:hover {
      opacity: 1;
    }
  }
}
