$family-sans-serif : 'Montserrat', sans-serif;
$primary : #02779E;
$secondary : #FAF0E3;

:root {
  --bg: #f3f5f4;
  --color: #4a4a4a;
  --color-primary: #02779E;
  --color-secondary: #243746;
  --bg-secondary: #02779E;
  --border-color: #eee;
  --link-color: #fff;
}

.dark-mode {
  --bg: #212727;
  --color: #FAF0E3;;
  --color-primary: #fdf9f3;
  --color-secondary: #02779E;
  --bg-secondary: #071521;
  --border-color: #313131;
  --link-color: #fff;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

@import "~bulma/sass/utilities/_all.sass";
