:root {
  --bg: #f3f5f4;
  --bg-primary: #fff;
  --bg-fix: #D2D2D2;
  --bg-secondary: #fff;
  --color: #4a4a4a;
  --link-color: #02779E;
  
  /* aa */
  --border-color: #eee;
}

.dark-mode {
  --bg: #2a2a2e;
  --bg-primary: #38383d;
  --bg-secondary: #282f2f;
  --bg-fix: #38383d;
  --color: #FAF0E3;;
  --link-color: #ff9b51;
  
  /* aa */
  --border-color: #444;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

$family-sans-serif : 'Montserrat', sans-serif;
$family-secondary-sans-serif: 'Rubik', sans-serif;
$secondary : #FAF0E3;

$body-font-size: 1.125rem;
$title-color: var(--color);
$subtitle-color: var(--color);
$strong-color: var(--color);
$link: var(--link-color);
$link-hover: var(--color);
$navbar-item-color: var(--color);
$navbar-item-hover-background-color: var(--bg);
$label-color: var(--color);
@import "~bulma/sass/utilities/_all.sass";
